@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter';
}

button {
    cursor: pointer;
    border: none;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.shadow {
    box-shadow: 0 2px 4px rgba(159, 159, 159, 0.15);
}

a {
    text-decoration: none;
    color: inherit;
}